*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
 font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer" ;
}

header, main, footer {
    
}

header {
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: "header";
}

header nav {
    display: flex;
    justify-content: space-between;
    column-span: all;
    background-color: #DCD6F7;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

#burger-meny {
    display: flex;
    margin: 1rem;
    column-span: all;

}

#søk {
    display: flex;
    justify-content: center;
    column-span: all;
    box-sizing: border-box;
    

}

#søk input{
    font-size: 20px;
    background-color: #DCD6F7;
    border: none;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}

.symboler {
    margin: 1rem;
}

header nav div {
    display: flex;
    gap: 1rem;
}

#logo{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #262B54;
    margin: 1rem;
    text-align: center;
}


.navbar {
    display: none;
    margin: 1rem;
}

.navbar a{
    color:#262B54;
}

.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(36, 33, 33);
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;

}

.responsive a {
    color: white;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.black-btn {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    font-weight: 400;
}

main {
    grid-area: main;
}

main section img {
    width: 100%;
}

footer {
    grid-area: footer;
}

@media only screen and (min-width:600px){
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
    }

    #ham, .fa-sharp {
        display: none;
        
    }



    .flex-section {
        display: flex;
        flex-direction: row;
        
    }

    .flex-section img{
        width: 40%;
    }

    .flex-section section {
        width: 50%;
        align-self: center;
    }

    .right img {
        order: 0;
    }

    #søk input{
        font-size: 15px;
        padding-right: 49.751vw;
        margin-top: 10px;
        background-color: #DCD6F7;
        
    }

    .symboler{
        display: none;
    }
}

