*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
}

@font-face {
    font-family: 'bearpawregular';
    src: url('BEARPAW_-webfont.eot');
    src: url('BEARPAW_-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEARPAW_-webfont.woff2') format('woff2'),
         url('BEARPAW_-webfont.woff') format('woff'),
         url('BEARPAW_-webfont.ttf') format('truetype'),
         url('BEARPAW_-webfont.svg#bearpawregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





body {
 font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer" ;
}


h1 {
    font-size: 25px;
}

header {
    font-size: 1.5rem;
    font-weight: 600;
    grid-area: "header";
}

header nav {
    display: flex;
    justify-content: space-between;
    column-span: all;
    background-color: #DCD6F7;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

#burger-meny {
    display: flex;
    margin: 1rem;

}

#søk {
    display: flex;
    justify-content: center;
    column-span: all;
    box-sizing: border-box;
    

}

#søk input{
    font-size: 20px;
    background-color: #DCD6F7;
    border: none;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
}

.symboler {
    margin: 1rem;
}

header nav div {
    display: flex;
    gap: 1rem;
}

#logo{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #262B54;
    margin: 0rem;
    text-align: center;
    font-family: "bearpawregular";
    font-size: 35px;   
    
}


.navbar {
    display: none;
    margin: 1rem;
}

.navbar a{
    color:#262B54;
}

.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(36, 33, 33);
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;

}

.responsive a {
    color: white;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}



main {
    grid-area: main;
}

main section img {
    width: 100%;
    
    
}

footer {
    grid-area: footer;
}

.reklame {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    border-top: 5px solid #F4EEFF;
    border-bottom: 5px solid #F4EEFF;
    
}



.marked {
    display: flex;
    grid-row: initial;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    text-align: center;
    margin-top: 10px;
    
}



.marked img {
    border-radius: 10px;
    border: 2px solid #262B54;
    height: 29.333vw;
    width: 26.667vw;
    object-fit: cover;
}

.marked h3 {
    color: #262B54;
}

.marked p{
    color:#262B54;
}


.marked-fargebak {
    background-color: #F4EEFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 2.667vw;
    
    
}

#marked-text {
    text-align: center;
    color: #262B54;
    padding-top: 10px;
}




#blagjennom {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    margin: 0rem;
    text-align: center;
    background-color: #262B54;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}


.populære-merker {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
    margin-top: 10px;
 
 

}

.populære-merker img {
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    height: 18.667vw;
    width: 18.667vw;
    max-width: 100px;
    max-height: 100px;
    margin: 1rem;
}

.populære-merkerQ1 {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
    margin-top: 10px;
 
 

}

.populære-merkerQ1 img {
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    height: 18.667vw;
    width: 18.667vw;
    max-width: 100px;
    max-height: 100px;
    margin: 1rem;
}

.pop-fargebak {
    background-color:#F4EEFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 2.667vw;
}

#pop-text {
    text-align: center;
    color: #262B54;
    padding-top: 10px;
}

.sko-type {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
    justify-content: space-evenly;
}

.sko-type img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #262B54;
    
}




#Sko-type {
    text-align: center;
    color: #262B54;
    padding-top: 10px;

}

#kontakt {
    margin: 1rem;
    color: #262B54;
    padding-top: 30px;
}


p {
    color: #262B54;
}






@media only screen and (min-width:700px){

    article.marked {

        justify-content: space-between;
    }

    .marked {
        display: flex;
        grid-row: initial;
        justify-content: center;
        align-items: center;
        margin: 2rem;
        text-align: center;
        margin-top: 10px;
        
    }

   .marked img {
        border-radius: 10px;
        border: 2px solid #262B54;
        height: 9.986vw;
        width: 9.986vw;
        object-fit: cover;
        justify-content: space-between;
    }
    .marked-Q1 {
        justify-content: space-between;
        
    }


    .marked {
        justify-content: center;
        
    }


   

    .reklame {
        margin: 2rem;
        max-width: 100%;
        max-height: auto;
        object-fit: contain;
        border-left: 5px solid #F4EEFF;
        border-right: 5px solid #F4EEFF;

    }


    #søk input{
        font-size: 20px;
        padding-right: 49.751vw;
        margin-top: 10px;
        background-color: #DCD6F7;
        
        
    }

    


 


}


@media only screen and (max-width:700px){
    .marked {
        justify-content: space-between;

    }

    .marked img {
        border-radius: 10px;
        border: 2px solid #262B54;
        height: 29.333vw;
        width: 26.667vw;
        object-fit: cover;
    }


    .marked-Q1 {
        display: none;
    }

    #marked-Q2 {
        display: none;
    }




    .populære-merkerQ1 {
        display: none;
    }

    #popQ1 {
        display: none;
    }

    #popQ2 {
        display: none;
    }

}

    

